@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 249, 248;
  --background-end-rgb: 250, 249, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 250, 249, 248;
    --background-end-rgb: 250, 249, 248;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 1.063rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn-background:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.line-broken {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#sidenav a.active {
  color: #fff;
  font-weight: bold;
}

@media only screen and (min-width: 1800px) {
  .container-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link-bg {
  background-color: rgba(255, 255, 255, 0.07);
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.small-device-nav {
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 600px) {
  .large-device-container {
    display: none;
  }
  .page-content {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .small-device-container {
    display: none;
  }
}
.card-content {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.gray-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 975px) {
  .status-add-product {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 975px) {
  .status-add-product {
    display: flex;
    flex-direction: column;
  }
  .add-pdt {
    transform: translateX(-10px);
    margin-top: 10px;
  }
}
@media only screen and (max-width: 464px) {
  .products {
    display: flex;
    flex-direction: column;
  }
  input[name="product"] {
    width: 100%;
    margin-bottom: 10px;
  }
  .status-add-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .add-pdt {
    transform: translateX(0px);
  }
}
@media only screen and (min-width: 600px) and (max-width: 780px) {
  .products {
    display: flex;
    flex-direction: column;
  }
  input[name="product"] {
    width: 100%;
    margin-bottom: 10px;
  }
  .status-add-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .add-pdt {
    transform: translateX(0px);
  }
}

@media print {
  html,
  body {
    height: 100vh;
    overflow: hidden;
    font-size: 1.063rem;
    overflow: visible;
    height: fit-content;
    width: fit-content;
    background-color: #fff !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
    background-color: #fff;
  }
}

@page {
  size: auto;
  margin: 10mm;
}

.label-shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

.set-boreder {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.active-links-details {
  border-bottom: 3px solid dodgerblue;
}

.page-layout-open {
  display: grid;
  grid-template-columns: 18rem minmax(100px, 1fr);
}

.page-layout-closed {
  display: grid;
  grid-template-columns: 5rem minmax(100px, 1fr);
}
